<h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Risk Assessment</h1>


<div class="bg-white shadow-md rounded-lg p-6 max-w-2xl mx-auto">
  <%= form_for @risk_assessment, url: wizard_path, method: :put, html: { class: "space-y-5" } do |f| %>

    <div>
      <%= f.label :risk_profile, class: "block text-sm font-medium text-gray-700" %>
      <%= f.number_field :risk_profile, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
    </div>

    <div>
      <%= f.label :loan_to_value_ratio, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :loan_to_value_ratio, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
    </div>

    <div>
      <%= f.label :market_conditions, class: "block text-sm font-medium text-gray-700" %>
      <%= f.text_field :market_conditions, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500" %>
    </div>

    <div class="flex justify-start mb-4">
     <%= link_to "Back", wizard_path(@previous_step), class: "bg-gray-300 text-gray-700 px-4 py-2 rounded-md shadow hover:bg-gray-400 transition" %>
    </div>

    <div class="flex justify-end">
      <%= f.submit "Next", class: "bg-blue-600 text-white px-6 py-2 rounded-md shadow hover:bg-blue-700 transition" %>
    </div>
  <% end %>
</div>
