<!-- app/views/customers/index.html.erb -->
<div class="w-2/3 mx-auto my-10">
  <button>
    <%= link_to "Back", :back %>
  </button>
  <div class="p-5">
    <h1 class="text-2xl font-bold mb-6 capitalize">Customer Detail</h1>
    <div class="overflow-x-auto bg-white shadow-md rounded-lg flex items-center justify-between p-5">
      <div>
        <div>Name: <%= @customer.full_name %></div>
        <div>Contact: <%= @customer.contact %></div>
        <div>ID: <%= @customer.id_number %></div>
        <div>Employment Status: <%= @customer.employment_status %></div>
        <div>Employer: <%= @customer.employer %></div>
        <div></div>
        <div></div>
      </div>
      <div>
      </div>
    </div>
  </div>
  <div class="p-5">
    <h1 class="text-2xl font-bold mb-6 capitalize">Loan Application</h1>
    <div class="overflow-x-auto bg-white shadow-md rounded-lg flex items-center justify-between p-5">
      <div>
        <div>Status: <%= @loan_application.status %></div>
        <div>Date Opened: <%= @loan_application.created_at %></div>
      </div>
      <div>
      </div>
    </div>
  </div>

</div>
