<div id="<%= dom_id customer_info %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Full name:</strong>
    <%= customer_info.full_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= customer_info.contact %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Identication:</strong>
    <%= customer_info.identication %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employment:</strong>
    <%= customer_info.employment %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Employer:</strong>
    <%= customer_info.employer %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Income:</strong>
    <%= customer_info.income %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Expenses:</strong>
    <%= customer_info.expenses %>
  </div>
</div>
